.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > * {
  margin: 10px;
}

#card {
  color: white;
  background: steelblue;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
}
